<html class="bg-gray-100">
    <head>
        <title>Inferrd</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="<%= require( './assets/network.png' ).default %>"/>

        <meta property="og:title" content="Inferrd - GPU ML Hosting" />
        <meta property="og:description" content="The easiest way to deploy ML models on GPUs"/>
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:url" content="https://inferrd.com" />

        <meta name="twitter:card" content="summary" /> 
        <meta name="twitter:site" content="@inferrd" /> 
        <meta name="twitter:title" content="Inferrd - GPU ML Hosting"/> 
        <meta name="twitter:description" content="The easiest way to deploy ML models on GPUs" /> 
        
        <style>
          <%= require( './inferrd.css' ) %>
        </style>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id='app-container'></div>
    </body>
</html>
